### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
purchase_data_counts = purchase_data["SN"].value_counts()
purchase_data_counts.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Idai61         3
Chadolyla44    3
Name: SN, dtype: int64

## Purchasing Analysis (Total)

In [3]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [5]:
purchase_count = purchase_data.groupby(["SN"]).sum()["Price"]
avg_purchase_price = purchase_data.groupby(["SN"]).mean()["Price"]
total_sn = purchase_data.groupby(["SN"]).count()["Price"]
purchase_total_per_person = purchase_count / total_sn

summary_table = pd.DataFrame({"Grouped Purchase Count": purchase_count, "Avg Purchase Price": avg_purchase_price, "Total SN": total_sn, "Purchase total per person": purchase_total_per_person})
summary_table

,Grouped Purchase Count,Avg Purchase Price,Total SN,Purchase total per person
SN,,,,
Adairialis76,2.28,2.280000,1,2.280000
Adastirin33,4.48,4.480000,1,4.480000
Aeda94,4.91,4.910000,1,4.910000
Aela59,4.32,4.320000,1,4.320000
Aelaria33,1.79,1.790000,1,1.790000
...,...,...,...,...
Yathecal82,6.22,2.073333,3,2.073333
Yathedeu43,6.02,3.010000,2,3.010000
Yoishirrala98,4.58,4.580000,1,4.580000
Zhisrisu83,7.89,3.945000,2,3.945000
Zontibe81,8.03,2.676667,3,2.676667

In [ ]:
grouped_purchase_data = purchase_data.groupby(["SN"])
grouped_purchase_data.count().head()

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame