### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
count = purchase_data.loc[:, ["Gender", "SN", "Age"]]
count = count.drop_duplicates()
count = count.count()[0]

total_players = pd.DataFrame({"Total Players": [count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len(purchase_data["Item ID"].unique())
average_purchase_price = purchase_data["Price"].mean()
total_numbers_of_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()


summary_table = pd.DataFrame({"Unique Items": [unique_items], "Average Purchase Price": [average_purchase_price], "Total Numbers of Purchase": [total_numbers_of_purchases], "Total Revenue": [total_revenue], })
summary_table

,Unique Items,Average Purchase Price,Total Numbers of Purchase,Total Revenue
0,183,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [6]:
gender_count = purchase_data_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [15]:
gender_count = purchase_data_df["Gender"].value_counts()

male_percent = 652/(652 + 113 + 15)*100
male_count = gender_count.loc["Male"]
print("Male Percent", male_percent, "Male Count",male_count)

female_percent = 113/(652 + 113 + 15)*100
female_count = gender_count.loc["Female"]
print("Female Percent", female_percent, "Male Count", female_count)


Other_percent = 15/(652 + 113 + 15)*100
Other_count = gender_count.loc["Other / Non-Disclosed"]
print("Other", other_percent, "Other Count", other_count)

Male Percent 83.58974358974359 Male Count 652
Female Percent 14.487179487179489 Male Count 113

NameError: name 'other_percent' is not defined

In [8]:
purchase_data["Gender"] = pd.to numeric(purchase_data["Gender"])

SyntaxError: invalid syntax (<ipython-input-8-2ac3e8ca8d8e>, line 1)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# groupby 12/17, part 2 in video B6 in lecture notes
gender_counts(["Gender"])

#summary table 12/19, C2

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# BINS: 12/19, C3

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame